@tailwind base;
@tailwind components;
@tailwind utilities;

/* small helpers */
html, body, #root { height: 100%; }
body { background: #f7f7fb; font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; }
